#wrap {
    width: 90vw;
    display: flex;
    flex-direction: row;
    border-bottom: 2px solid rgb(219, 219, 219);
    justify-content: space-between
}

#contain{
    padding: 0.2em;
    display: flex;
    flex-direction: row;
    justify-content: flex-start
}

/* #product {
    display: flex;
    flex-direction: row;
} */

img{
    width: 10vw;
    margin-right: 2em;
}